/*reset---------------------------------------------------------------------*/

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/*colors and fonts---------------------------------------------------------*/

:root {

	--c-soft-blue: hsl(215, 51%, 70%);
	--c-cyan: hsl(178, 100%, 50%);
/*	--c-cyan-transparent: rgba(0,255,247,0.742);*/
	--c-cyan-transparent: rgba(0,255,247,1.000);

	--c-main-bg: hsl(217, 54%, 11%);
	--c-card-bg: hsl(216, 50%, 16%);
	--c-line-bg: hsl(215, 32%, 27%);
	--c-white: hsl(0, 0%, 100%);

	--ff-Outfit: 'Outfit', sans-serif;;

	--fw-light: 300;
	--fw-medium: 400;
	--fw-heavy: 600;

	--fs-paragraph: 18px;
}

body {
	font-family: var(--ff-Outfit);
	font-size: var(--fs-paragraph);
	background: var(--c-main-bg);
	display: grid;
	place-content: center;
	margin: 0 1.25rem;
}

main {
/*	margin-bottom: 40px;*/
}

.card {
	background: var(--c-card-bg);
	padding: 1.5rem 1.5rem;
	display: grid;
	gap: 1.25rem;
	border-radius: 10px;
	margin-top: 20px;
/*	margin-bottom: 10px;*/
}

.title {
	font-size: 1.5rem;
	font-weight: var(--fw-heavy);
	letter-spacing: -.7px;

}

a {
	color: var(--c-white);
	text-decoration: none;
}

.description, .days-left, .author, .attribution {
	color: var(--c-soft-blue);
}

.price {
	color: var(--c-cyan);
}

.description {
	letter-spacing: -.7px;
}

/*footer {
	margin-top: 10px;
}*/

/*Card details----------------------------------------------------------*/

.product-information {
	display: grid;
	gap: 1.0rem;
}

.cube-image {
	border-radius: 8px;
	overflow: hidden;
	background-color: var(--c-cyan-transparent);
	outline-style: solid;
	outline-color: var(--c-card-bg);
}


h1 {
	padding-top: 5px;
}

.price-time {
	display: flex;
	justify-content: space-between;
	padding: 0.3rem 0;
}

.price {
	font-weight: var(--fw-heavy);
}

footer {
	padding-top: 0.6rem;
}

.icon-price, .icon-days {
	display: inline-flex;
	gap: 0.313rem;
	letter-spacing: -.7px;
	font-size: 1rem;
}

.ethereum, .clock {
	height: 1.3rem;
	margin: auto;
}

.line {
	height: 1px;
	background: var(--c-line-bg);
}

.avatar-author {
	display: flex;
	gap: 1rem;
	align-items: center;
	letter-spacing: -.7px;
}

.avatar-pic {
	max-width: 2rem;
	max-height: 2rem;
	border: 1px solid var(--c-white);
	border-radius: 50%;
}

/*active-states----------------------------------------------------------*/

.cube-image, .title, .author-name {
	cursor: pointer;
}

.cube-image {
	position: relative;
}

.overlay {
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.cube-image:hover .equilibrium {
	opacity: 0.55;
}

.cube-image:hover .overlay {
	opacity: 1;
}

.equilibrium:focus {
	opacity: 0.55;
}


.title:is(:hover, :focus), .author-name:is(:hover, :focus) {
	color: var(--c-cyan);
}

/*media querey----------------------------------------------------------*/


@media (min-width: 23.438em) {

	.card {
		max-width: 21.313rem;
		max-height: 40.5rem;
	}

}








